/*Base Styles*/
* {
	box-sizing: border-box;
}
body {
	font-family: 'Merriweather', serif;
	margin: 0;
}

/*Header/banner Layout*/
header {
	color: white;
	background: #00394d;
	text-align: center;
	text-transform: uppercase;
}
header h1 {
	margin: 0;
	padding: 20px;
}
.banner {
	text-align: center;
	border-bottom: solid #00394d;
	width: 95%;
	margin: auto;
	color: #00394d;
	background: lemonchiffon;
}
.banner p {
	color: lightgrey;
}
.banner h2 {
	margin: 0;
	padding-top: 3%;
}

/*Main Contents*/
legend {
  border-top: solid #00394d;
  border-width: 2.8px;
  color: #00394d;
  text-align: left;
  width: 100%;
  padding: 25px 0;
  margin: auto;
  margin-top: 3px;
  font-size: 2em;
}
input[type="text"], 
input[type="email"], 
input[type="number"], 
input[type="address"], 
textarea, 
select {
  background: gainsboro;
  border: none;
  width: 96%;
  height: 47px;
  border-radius: 3px;
}
input:focus {
	border: solid #004b66;
}
label {      
	display: inline-block; 
	color: grey;
}
input {     
	padding: 10px;  
	font-size: 1.2em; 
	color: grey;
	margin: 10px 0;
	border: purple;
}
select {
	margin: 10px 0;
}
input::placeholder {
	text-align: right;
	font-style: italic;
}
input[name="user_zip"] {
	width: 45%;
	margin-bottom: 25px;
}
button {
  width: 91%;
  height: 64px;
  background: lightseagreen;
  border-radius: 7px;
  color: white;
  font-size: 24px;
  border: none;
  margin: 0 2%;
}
fieldset {
	border: none;
	padding: 15px 0;
	padding-top: 0;
	margin: auto;
	text-align: left;
	width:95%;
}
label[for="format"] {
	margin-top: 10px;
}
.topics {
	margin: 10px 0;
}
textarea {
	margin: 10px 0;
	height: 100px;
}
input {
	transition: background-color 2s ease;
}	
input:hover {
	background-color: cadetblue;
}
input {
	transition: border 2s ease;
}
select {
	color: grey;
	font-size: 1.2em;
}


/*Footer*/
footer p {
  font-style: italic;
  text-align: center;
  color: gainsboro;
}

@media (min-width: 768px) {
	.banner {
		width: 70%;
	}
	input[type="text"], 
	input[type="email"], 
	input[type="number"], 
	input[type="address"], 
	textarea, 
	select {
	  width: 70%;
	  margin: 0 20px;
	}
	fieldset {
		width: 70%;
	}
	textarea {
		width: 100%;
		margin: 0;
	}
	button {
		width: 70%;
		margin: 10px 15%;
	}
	input:focus {
		border: solid #004b66;
	}
	input {
		margin: 0 2%;
	}
	.col {
		display: flex;
		justify-content: flex-end;
		margin: 15px 0;
	}
	.col > label { 
		padding: .5em 1em .5em 0;
		flex: 1;
	}
	input[name="user_zip"] {
		width: 45%;
		margin-bottom: 25px;
	}
	.col2 {
		display: flex;
		justify-content: flex-end; 
		margin: 15px 0;
	}
	.col2 > label {
		padding:.5em 1em .5em 0;
	}
	.col2 > input {
		margin-left: auto; 
		margin-right: 27.5%; 
	}
	
}




