/*Base Styles*/
* {
	box-sizing: border-box;
}
body {
	font-family: 'Merriweather', serif;
	margin: 0; /*did nothing*/
}

/*Header/banner Layout*/
header {
	color: white;
	background: #00394d;
	text-align: center;
	text-transform: uppercase;
}
header h1 {
	margin: 0;
	padding: 20px;
}
.banner {
	text-align: center;
	border-bottom: solid #00394d;
	width: 95%;
	margin: auto;
	color: #00394d;
}
.banner p {
	color: lightgrey;
}

/*Main Contents*/
form h2 {
  border-top: solid #00394d;
  border-width: 2px;
  color: #00394d;
  text-align: left;
  width: 95%;
  padding: 25px 0;
  margin: auto;
  margin-top: 3px;
}
input[type="text"], 
input[type="email"], 
input[type="number"], 
input[type="address"], 
textarea, 
select {
  background: gainsboro;
  border: none;
  width: 96%;
  height: 47px;
  border-radius: 3px;
}
input:focus {
	border: solid #004b66;
}
label {      /*did not know to target*/
	display: inline-block; /*did not know*/
	/*margin: 10px;*/ /*did not know*/
	color: grey;
}
input {     /*did not know to target*/
	padding: 10px;  /*did not know*/
	font-size: 1.2em;   /*did not know*/
	color: grey;
	margin: 10px 0;
}
select {
	margin: 10px 0;
}
input::placeholder {
	text-align: right;
	font-style: italic;
}
input[name="user_zip"] {
	width: 45%;
	margin-bottom: 25px;
}
button {
  width: 91%;
  height: 64px;
  background: lightseagreen;
  border-radius: 7px;
  color: white;
  font-size: 24px;
  border: none;
  /*margin: 0 16px;*/
  margin: 0 2%;
}
fieldset {
	border: none;
	/*padding-bottom: 15px;*/
	padding: 15px 0;
	padding-top: 0;
	margin: auto;
	text-align: left;
	width:95%;
}
.topics {
	margin: 10px 0;
}
textarea {
	margin: 10px 0;
	height: 100px;
}

/*Footer*/
footer p {
  font-style: italic;
  text-align: center;
  color: gainsboro;
}



@media (min-width: 768px) {
	.banner {
		text-align: center;
		border-bottom: solid #00394d;
		width: 70%;
		margin: auto;
		color: #00394d;
	}
	form h2 {
	  border-top: solid #00394d;
	  border-width: 2px;
	  color: #00394d;
	  text-align: left;
	  width: 70%;
	  padding: 25px 0;
	  margin: auto;
	  margin-top: 3px;
	}
	input[type="text"], 
	input[type="email"], 
	input[type="number"], 
	input[type="address"], 
	textarea, 
	select {
	  width: 70%;
	  margin: 0 20px;
	}
	fieldset {
		width: 70%;
	}
	textarea {
		width: 100%;
		margin: 0;
	}
	button {
		width: 70%;
		margin: 10px 15%;
	}
	input:focus {
		border: solid #004b66;
	}
	input {
		margin: 0 2%;
	}
	.col {
		display: flex;
		justify-content: flex-end;
		margin: 15px 0;
	}
	.col > label {
		padding: .5em 1em .5em 0;
		flex: 1;
	}
	input[name="user_zip"] {
		width: 45%;
		margin-bottom: 25px;
	}
	
	.col2 {
		display: flex;
		justify-content: flex-start;
	}
	.col2 > input {
		margin: 5px 160px;
	}


	
}










/*.col {
	display: flex;
	flex-direction: column;
}*/


/*.col {
		flex-direction: row;
	}
	.col label {
		flex: 0 0 12rem;
	}
	.col input,
	.col select,
	.col textarea {
		flex: 1 1 0;
		padding: 1rem 1rem;
	}*/



/*input[type="text"],
input[type="email"],
input[type="number"],
input[type="address"],
select {
	background: rgba(255, 255, 255, 0.1);
	border: none;
	font-size: 16px;
	height: auto;
	margin: 0;
	outline: 0;
	padding: 15px;
	width: 100%;
	background-color: #eBeeef;
	color: #8a97a0;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03 inset);
	margin-bottom: 30px;
}*/
